@import '../../styles/var';

.page{
  width: 100%;
  height:100%;
  background: $bg-color-level-3;
  color:$txt-color;
  transition: background 0.2s,color 0.2s;

}
.page-dark{
  background: $bg-color-level-3-dark;
  color:$txt-color-dark;
}
/*

*/
$header-hiehgt:60px;
.header{
  height:$header-hiehgt;
  line-height: $header-hiehgt;
  background: $bg-color-level-1;
  transition: background 0.2s,color 0.2s;
  position: fixed;
  top:0;
  left:0;
  z-index: 999;
  width: 100%;
  user-select: none;
  box-shadow: 1px 1px 0 0 #cccccc;
  .title{
    transition: background 0.2s,color 0.2s;
    color:$primary-color;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
  }
  .header-left{
    float:left;
  }
  .header-right{
    float:right;
  }
}

.header-dark{
  box-shadow: none;
  background: $bg-color-level-1-dark;
  .title{
    color:$txt-color-dark;
  }
}
/*

*/
$nav-width:220px;
$nav-width-mini:80px;
.nav-wrapper{
  width: $nav-width;
  transition: left 0.3s,width 0.2s;
  position: fixed;
  top:60px;
  left:0;
  bottom:0;
  z-index: 888;
}

.nav-wrapper-mini{
  width: $nav-width-mini;
}

/*

*/
.content-wrapper{
  position: absolute;
  top:60px;
  right:0;
  bottom:0;
  transition: left 0.3s;
  //color:$;
  padding:30px;
}
.content-wrapper-common{
  left:$nav-width;
}
.content-wrapper-expand{
  left:$nav-width-mini;
}

.main-children-wrapper{
  padding:15px 0;
}
