@import '../../../../styles/var';



.lbl-dark{
  color:$txt-color-dark;
}


.placeholder-table{
  width: 400px;
  margin:0 auto;
  text-align: center;
  td{
    padding:5px;
    font-weight: bolder;
    text-align: center;
  }
}