@import '../../styles/var';
@import '../../styles/mixin';



.page{
  @include common-page();
}

.page-dark{
  @include common-page-dark();
}

:global{
  .lbl-dark{
    .ant-badge-status-text{
      color:$txt-color-dark;
    }
  }
}
.table{
  td:nth-child(1){
    border-right:1px solid #cccccc;
  }
  :global{
    .ant-table-selection-column{
      border-right:1px solid #cccccc;
    }
  }
}
