@import '../../styles/var';

.title{
  font-size: 18px;
  padding:5px 0;
  margin-bottom: 15px;
  color:$txt-color;
  //position: relative;
  &:before{
    content:"";
    position: absolute;
    top:35px;
    width: 120%;
    left:-15px;
    height: 2px;
    background: $bg-color-level-3;
  }
}

.title-dark{
  color:$txt-color-dark;
  &:before{
    background: $bg-color-level-3-dark;
  }
}
