$primary-color:#108ee9;

$bg-color-level-1:rgb(255,255,255);

$bg-color-level-2:white;

$bg-color-level-3:#F1F1F1;

$txt-color:rgba(0,0,0,.85);


$bg-color-level-1-dark:rgb(37,45,71);

$bg-color-level-2-dark:rgb(31,38,61);

$bg-color-level-3-dark:rgb(28,35,59);

$txt-color-dark:rgb(183,193,204);

$primary-color-opacity:#ecf6fd;
