.card :global(.ant-card-body){
  width: 100%;
}
.card :global(.ant-card-bordered){
  border: none;
}
.card :global(.ant-card-body div){
  width: 100%;
  position: relative;
}
.card{
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.65);
  transition: none;
 
}