@import "../../styles/var";
$breadcrumb-height:30px;
$border-width:15px;
.breadcrumb-list{
  height:$breadcrumb-height;
  line-height: $breadcrumb-height;
  background: transparent;
  font-weight: 100;
  .item{
    background: $bg-color-level-1;
    display: inline-block;
    margin-right:20px;
    min-width: 30px;
    padding:0 15px 0 10px;
    position: relative;
    cursor: pointer;
    &:first-child{
      padding:0 0 0 15px;
    }
    a{
      color:$txt-color;
    }
    a:focus{
      text-decoration: none;
    }
    &:not(:last-child){
      &:after{
        content:"";
        position: absolute;
        height:0;
        width: 0;
        z-index: 2;
        top:0;
        border-left:$border-width solid $bg-color-level-1;
        border-right:$border-width solid transparent;
        border-bottom:$border-width solid transparent;
        border-top:$border-width solid transparent;
        left:100%;
      }
    }
    &:not(:first-child){
      &:before{
        content:"";
        position: absolute;
        height:0;
        width: 0;
        z-index: 2;
        top:0;
        left:0;
        margin-left:-15px;
        border-top:$border-width solid $bg-color-level-1;
        border-right:$border-width solid transparent;
        border-bottom:$border-width solid $bg-color-level-1;
        border-left:$border-width solid transparent;
      }
    }

    &:last-child{
      background: $primary-color;
      color:white;
      a{
        color:white;
        cursor: default;
      }
      &:before{
        border-top-color:$primary-color;
        border-bottom-color:$primary-color;
      }
    }
  }
}


.breadcrumb-list-dark{
  .item{
    background: $bg-color-level-1-dark;
    a{
      color:$txt-color-dark;
    }
    &:not(:last-child){
      &:after{
        border-left:$border-width solid $bg-color-level-1-dark;
      }
    }
    &:not(:first-child){
      &:before{
        border-top:$border-width solid $bg-color-level-1-dark;
        border-bottom:$border-width solid $bg-color-level-1-dark;
      }
    }

    &:last-child{
      background: $primary-color;
      color:white;
      a{
        color:white;
        cursor: default;
      }
      &:before{
        border-top-color:$primary-color;
        border-bottom-color:$primary-color;
      }
    }
  }
}
