.l-info {
  position: absolute;
  left: 55px;
  top: 171px;
  width: 288px;
  z-index: 1;
  /* border: 1px solid red; */
}
.l-info-title {
  width: 119px;
  height: 28px;
}
.l-info-title > div {
  height: 26px;
  border: 1px solid rgba(151, 173, 194, 0.55); 
  color: #fff;
  background: rgba(53, 84, 113, 0.55);
  text-align: center;
  line-height: 26px;
  font-size: 20px;
}
.l-info-center,
.legend-center {
  margin-top: 5px;
  /* height: 100px; */
}
.l-info-center::before {
  display: block;
  width: 288px;
  height: 24px;
  content: '';
  background: url(../../../images/leftInfo/infoTop.png) no-repeat;
}
.l-info-center::after {
  display: block;
  width: 288px;
  height: 50px;
  content: '';
  background: url(../../../images/leftInfo/infoBottom.png) no-repeat center bottom;
}
.l-info-center-red,
.l-info-center-blue {
  margin-bottom: 12px;
  color: #a0c8e2;
  font-size: 16px;
}

.l-info-center-red::before {
  content: '';
  background: url(../../../images/leftInfo/redflag.png);
}
.l-info-center-blue::before {
  content: '';
  background: url(../../../images/leftInfo/blueflag.png)
}
.l-info-center-red::before,
.l-info-center-blue::before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 15px;
  height: 16px;
}
.l-info-center-red::after {
  content: '\005b\6d77\83b2\82b1\0041\0050\0054\56e2\4f19\005d'
}
.l-info-center-blue::after {
  content: "\005b\67d0\4f01\4e1a\653f\5e9c\90e8\95e8\005d"
}
.l-info-center-red::after,
.l-info-center-blue::after {
  font-size: 14px;
  margin-left: 15px;
}

/* 红方资源配置 */
.l-info-center-redInfo {
  margin-bottom: 17px;
}
.l-info-center-redInfo > div {
  position: relative;
  width: 140px;
  height: 28px;
  margin-bottom: 7px;
  line-height: 28px;
  font-size: 14px;
  color: #74bbee;
  background: url(../../../images/leftInfo/rectBg.png) no-repeat;
}
.l-info-center-redInfo .intelligenceColl::before,
.l-info-center-redInfo .conf::before,
.l-info-center-redInfo .activeAttack::before {
  display: inline-block;
  content: '';
  width: 35px;
  height: 100%;
  /* background-position: center center; */
  background-repeat: no-repeat;
  background-position: center 40%;
  vertical-align: middle;
}
.l-info-center-redInfo .intelligenceColl::before {
  background-image: url(../../../images/leftInfo/qb.png);
}
.l-info-center-redInfo .conf::before {
  background-image: url(../../../images/leftInfo/conf.png);
}
.l-info-center-redInfo .activeAttack::before {
  background-image: url(../../../images/leftInfo/knife.png);
}
.moving::after {
  position: absolute;
  right: -20px;
  top: 0;
  bottom: 0;
  width: 10px;
  content: '';
  background: url(../../../images/leftInfo/direct.png) no-repeat;
  background-position-y: center;
}
/* 红方资源配置 */

.l-info-center-blueInfo > div {
  position: relative;
  display: inline-block;
  margin-bottom: 7px;
  width: 140px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  color: #74bbee;
}
.l-info-center-blueInfo > div:nth-child(odd) {
  margin-right: 3px;
  background: url(../../../images/leftInfo/rectBg.png) no-repeat;
}
.l-info-center-blueInfo > div:nth-child(even)::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 140px;
  height: 28px;
  content: '';
  background: url(../../../images/leftInfo/rectBg.png) no-repeat;
  transform:scaleX(-1);
  z-index: -1;
}
.l-info-center-blueInfo .host::before,
.l-info-center-blueInfo .server::before,
.l-info-center-blueInfo .router::before,
.l-info-center-blueInfo .interchanger::before,
.l-info-center-blueInfo .wall::before,
.l-info-center-blueInfo .IDS::before {
  display: inline-block;
  content: '';
  width: 35px;
  height: 100%;
  /* background-position: center center; */
  background-repeat: no-repeat;
  background-position: center 40%;
  vertical-align: middle;
}
.l-info-center-blueInfo .host::before {
  background-image: url(../../../images/leftInfo/host.png);
}
.l-info-center-blueInfo .server::before {
  background-image: url(../../../images/leftInfo/server.png);
}
.l-info-center-blueInfo .router::before {
  background-image: url(../../../images/leftInfo/router.png);
}
.l-info-center-blueInfo .interchanger::before {
  background-image: url(../../../images/leftInfo/jhj.png);
}
.l-info-center-blueInfo .wall::before {
  background-image: url(../../../images/leftInfo/wall.png);
}
.l-info-center-blueInfo .IDS::before {
  background-image: url(../../../images/leftInfo/IDS.png);
}
.blueInfo-count {
  position: absolute;
  right: 12px;
  /* display: inline-block;
  vertical-align: middle; */
  text-align: right;
  color: #feffd7;
  font-size: 14px;
}

/* 图例 */
.legend {
  position: absolute;
  left: 55px;
  top: 603px;
  width: 288px;
  z-index: 1;
  /* border: 1px solid red; */
}
.legend-title {
  width: 73px;
  height: 26px;
  border: 1px solid rgba(151, 173, 194, 0.55); 
  color: #fff;
  background: rgba(53, 84, 113, 0.55);
  text-align: center;
  line-height: 26px;
  font-size: 20px;
}
.legend-center {
  color: #a0c8e2;
}
.legend-center-status,
.legend-center-method {
  position: relative;
  padding-left: 67px;
}
.legend-center-status {
  margin-bottom: 6px;
}
.legend-center > .legend-center-status > div,
.legend-center > .legend-center-method > div {
  display: inline-block;
  font-size: 14px;
}
.legend-center > .legend-center-status > .type,
.legend-center > .legend-center-method > .type {
    position: absolute;
    left: 0;
    top: 13px;
}
.legend-center-status-content > div {
  display: inline-block;
  height: 50px;
  width: 52px;
  text-align: center;
}
.legend-center-status-content > div > div {
  height: 45px;
}
.legend-center-status-content > div p {
  font-size: 12px
}
.legend-center-status-content .normal {
  background: url(../../../images/leftInfo/normal.png) no-repeat center center;
}
.legend-center-status-content .outline {
  background: url(../../../images/leftInfo/outline.png) no-repeat center center;
}
.legend-center-status-content .control {
  background: url(../../../images/leftInfo/control.png) no-repeat center center;
}
.legend-center-status-content .attacked {
  background: url(../../../images/leftInfo/attacked.png) no-repeat center center;
}

.legend-center-status-content .email {
  background: url(../../../images/leftInfo/email.png) no-repeat center center;
}
.legend-center-status-content .accessory {
  background: url(../../../images/leftInfo/accessory.png) no-repeat center center;
}
.legend-center-status-content .virus {
  background: url(../../../images/leftInfo/virus.png) no-repeat center center;
}
.legend-center-status-content .diffusion {
  background: url(../../../images/leftInfo/diffusion.png) no-repeat center center;
}
.legend-center-status-content .sm {
  background: url(../../../images/leftInfo/sm.png) no-repeat center center;
}
.legend-center-status-content .gm {
  background: url(../../../images/leftInfo/gm.png) no-repeat center center;
}
.legend-center-status-content .yhzl {
  background: url(../../../images/leftInfo/yhzl.png) no-repeat center center;
}

.legend-center::after {
  display: block;
  width: 288px;
  height: 28px;
  content: '';
  background: url(../../../images/leftInfo/infoBottom.png) no-repeat center bottom;
}
.legend-center::before {
  display: block;
  width: 288px;
  height: 17px;
  content: '';
  background: url(../../../images/leftInfo/infoTop.png) no-repeat;
}