
@import '~themes/default';

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4F5DCA;
  height: 100%;
  .common-container
}

// .content{
//   display: table-cell;
//   vertical-align: middle;
//   text-align: center;
//   font-size: 18px;
//   // padding: 10px 20px;
//   width: 120px;
//   height: 120px;
//   border-radius: 10px;
//   background-color:white;
//   transition: transform 0.3s;
// }

// .content:hover{
//   transform: scale(1.1)
// }

.count{
  font-size: 36px;
  font-weight: 700;
  margin: 0 15px;
  // color: rgba(0, 0, 0, 0.65)
}

.title{
  // color: rgba(0, 0, 0, 0.65)
  margin: 10px;
}