
.container{
  display: inline-block;
  color: white;
}

.content{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  // padding: 10px 20px;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background-color: rgb(27, 189, 89);
  transition: transform 0.3s;
}

.content:hover{
  transform: scale(1.1)
}

.count{
  margin-top: 10px;
  margin-bottom: 10px;
}