@import '../../styles/var';

@import '../../styles/mixin';



.page{
  @include common-page();
  background: $bg-color-level-3;
  padding:30px;
  :global{
    .ant-tabs-tab-active{
      color:$primary-color;
    }
  }

  .threat-event-item-wrapper{
    max-height: 600px;
    overflow-y: scroll;
    padding-right:30px;
  }
}


.page-dark{
  @include common-page-dark();
  background: $bg-color-level-3-dark;

  :global{
    .ant-tabs-tab{
      color:$txt-color-dark;
    }

    .ant-tabs-tab-active{
      color:$primary-color;
    }
  }
}




