


.container{
  display: inline-block;
  margin: 107.5px;
  color: white;
}

.content{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  width: 130px;
  height: 130px;
  background-color: rgb(11, 106, 230);
  border-radius: 10px;
  transition: transform 0.3s;
}

.content:hover{
  transform: scale(1.1)
}

.count{
  margin-top: 10px;
  margin-bottom: 10px;
}