@import '../../../styles/var';

.check-box{
  :global{
    .ant-checkbox{
      position: relative;
      top:-3px;
    }
  }
}

.form{
  color:$txt-color-dark;
  max-width: 600px;
  padding-bottom: 300px;
}

.form-dark{
  .check-box{
    :global{
      .ant-checkbox,.ant-checkbox-disabled + span{
        color:$txt-color-dark;
      }
    }
  }
}
