@import '../../styles/var';


.page{
  width: 100%;
  height:100%;
  background: $bg-color-level-3;
  color:$txt-color;
  transition: background 0.2s,color 0.2s;
  :global{
    .ant-tabs-tab-active{
      color:$primary-color;
    }
  }

}
.page-dark{
  background: $bg-color-level-3-dark;
  color:$txt-color-dark;
  :global{
    .ant-tabs-tab{
      color:$txt-color-dark;
    }

    .ant-tabs-tab-active{
      color:$primary-color;
    }
  }
}


