.wholeProcess-container {
  position: absolute;
  left: 0;
  right: 0;
  width: 1920px;
  height: 1080px;
  background: url(../../../images/bg-hlh.png) no-repeat;
}
.wholeProcess {
  position: absolute;
  height: 53px;
  bottom: 80px;
  left: 100px;
  right: 100px;
  /* border: 1px solid red; */
  z-index: 1;
  font-size: 0;
  text-align: center;
  /* background: url(../../../images/process/processRow-bg.png) no-repeat; */
}
.wholeProcess > div {
  position: relative;
  display: inline-block;
  height: 53px;
  line-height: 53px;
  /* width: 239px; */
  /* vertical-align: -webkit-baseline-middle; */
  /* margin-right: 23px; */
  /* background: url(../../../images/process/process-bg.png) no-repeat; */
  background-position: left 0 top 0;
  font-size: 14px;
  text-align: left;
  color: #00bdff;
  -webkit-filter: brightness(.5);
  filter: brightness(.5);
}
.wholeProcess > div:nth-child(1) {
  width: 212px;
  background: url(../../../images/process/1.png) no-repeat;
}
.wholeProcess > div:nth-child(2) {
  margin-left: -24px;
  width: 215px;
  background: url(../../../images/process/2.png) no-repeat;
}
.wholeProcess > div:nth-child(3) {
  margin-left: -12px;
  width: 199px;
  background: url(../../../images/process/3.png) no-repeat;
}
/* .wholeProcess > div:nth-child(4) {
  margin-left: -12px;
  width: 247px;
  background: url(../../../images/process/4.png) no-repeat;
} */
.wholeProcess > div:nth-child(4) {
  margin-left: -12px;
  width: 269px;
  background: url(../../../images/process/5.png) no-repeat;
}
.wholeProcess > div:nth-child(5) {
  margin-left: -23px;
  width: 191px;
  background: url(../../../images/process/6.png) no-repeat;
}
.wholeProcess > div:nth-child(6) {
  margin-left: -12px;
  width: 287px;
  background: url(../../../images/process/7.png) no-repeat;
}
.wholeProcess > div:nth-child(7) {
  margin-left: -12px;
  width: 177px;
  background: url(../../../images/process/8.png) no-repeat;
}
/* .wholeProcess > div:last-of-type {
  margin-right: 0;
} */
/* .wholeProcess > div:not(:last-child)::after {
  position: absolute;
  top: 50%;
  right: -10px;
  width: 11px;
  height: 30px;
  margin-top: -15px;
  content: '';
  background: url(../../../images/process/direction.png) no-repeat center;
  background-position: center 7px;
} */
.wholeProcess .tit {
  display: inline-block;
  /* margin-top: 31px; */
  margin-left: 30px;
  color: #a0c8e2;
  text-align: center;
}
.wholeProcess .tit > span {
  display: inline-block;
}
.wholeProcess .tit > .circle {
  margin-right: 3px;
  width: 23px;
  height: 23px;
  line-height: 23px;
  color: #003e53;
  font-weight: bolder;
  font-size: 16px;
  border-radius: 50%;
  background: #00bdff;
  text-shadow: 0 1px 1px hsla(0,0%,100%,0.7);
}
/* .wholeProcess .tit > .tt {
  font-size: 20px;
} */

/* 攻击过程的列表内容 */
/* .process-listContent {
  margin-top: 21px;
  counter-reset: listNum 0
} */
/* .process-listContent > p::before {
  content: counter(listNum)'、';
  counter-increment: listNum;
} */
.process-listContent > p {
  display: inline-block;
  margin: 0 auto;
  padding-left: 5px;
  /* padding-top: 12px; */
  /* width: 175px; */
  line-height: 25px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  /* -webkit-filter: brightness(.5); */
  /* filter: brightness(.5); */
}
/* .process-listContent > p::after {
  float: right;
  content: url(../../../images/process/unknown.png);
} */
/* 攻击过程的列表内容 */

/* 每一步骤的结果图标 */
.process-listContent .step_fail::after {
  float: right;
  content: url(../../../images/process/unknown.png);
}
.process-listContent .step_success::after {
  float: right;
  content: url(../../../images/process/check.png);
}
/* 每一步骤的结果图标 */

/* 调整攻击步骤背景的位置 */
.highlight {
  color: #42f8d4!important;
  background-position: left 0 top -90px!important;
}
/* 调整攻击步骤背景的位置 */


/* 调整攻击步骤圆背景颜色*/
.highlight .tit .circle {
  background: #42f8d4;
}
/* 调整攻击步骤圆背景颜色*/

