@import '~themes/vars';
.col-box{
  background: @primary-color
}
.div-box{
  text-align: center;
  height: 130px;
  padding:15px;
  width: 150px;
  float: left;
  margin-right: 50px;
  // border: 1px solid @primary-color;
  background: #fff
}

.item{
  height: 125px;
  padding: 25px;
  display: flex;
  color: @primary-color;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  .common-container
}