@import '~themes/vars';
.panel {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  width: 200px;
  background: white;
  padding: 10px;
}
.timestampPicker{
  float: right;
  width:300px;
}
.titleCenter{
  :global{
    .ant-table-thead > tr > th, .titleCenter .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th{
    text-align: center;
    }
  }
}