.operation-list .operation-item {
  margin-bottom: 10px;
  display: inline-block;
}

.btn-danger {
  border-color: #d73435;
  background: #d73435;
  color: white;
}

.btn-danger:disabled {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f7f7f7;
  border-color: #d9d9d9;
}

.version-table {
  width: 100%;
}

.version-table td {
  text-align: center;
  padding: 3px;
}

.version-list {
  width: 100%;
}

.version-list td, .version-list th {
  text-align: center;
}

.version-list .version-list-content-row td:nth-child(2) {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}