<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="static/icon/style.css">

</head>
<script>
  //open debug mode,production env please remove this code
  sessionStorage.setItem("@@__THREAT_INFO_SYSTEM__@@__@@__DEBUG__@@", "@@__THREAT_INFO_SYSTEM__@@__@@__DEBUG__@@")
</script>

<body>
  <div id="root"></div>
</body>

</html>