<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <% if (process.env.NODE_ENV === 'development') { %>
    <script>
      //解决开发环境下 CSS lazy load导致的样式闪动问题
      _Blob = Blob
      Blob = void 0
    </script>
    <% } %>

</head>
<script>
  //open debug mode,production env please remove this code
  sessionStorage.setItem("@@__THREAT_INFO_SYSTEM__@@__@@__DEBUG__@@", "@@__THREAT_INFO_SYSTEM__@@__@@__DEBUG__@@")
</script>

<body>
  <div id="root"></div>
  <% if (process.env.NODE_ENV === 'development') { %>
    <iframe src="about:blank" style="display: none"></iframe>
    <% } %>
</body>

</html>