@import '../../styles/var';

.table{
  :global{
    .ant-table-thead > tr > th{
      text-align: center;
    }
  }
}


.table-selectable{
  td:nth-child(1){
    border-right:1px solid #cccccc;
  }
  :global{
    .ant-table-selection-column{
      border-right:1px solid #cccccc;
    }
  }
}
