.equipmentInfoWapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 290px;
  height: 227px;
  margin-top: -114px;
  margin-left: -100px;
  background: url(../../../images/node_circle.png) no-repeat;
  z-index: 9;
  font-family: sansGB;
}
.left-infoBtn {
  position: absolute;
  top: 77px;
  left: 0;
  width: 42px;
  height: 74px;
}
.left-infoDetail-wrap {
  position: absolute;
  display: none;
  margin-left: -433px;
  margin-top: -163px;
  width: 401px;
  height: 484px;
}
.left-infoDetail {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  font-size: 14px;
  background: url(../../../images/left.png) no-repeat;
  background-clip: content-box;
}
.left-infoDetail-closeBtn {
  position: absolute;
  top: 25px;
  right: 27px;
  width: 20px;
  height: 20px;
  z-index: 1;
}
.left-infoDetail-wormDetail {
  position: absolute;
  z-index: 1;
  bottom: 36px;
  right: 33px;
  width: 48px;
  height: 19px;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #00cbff;
  border-radius: 10px;
  border: 1px solid rgba(0, 195, 245, .5);
}
.left-infoDetail dl {
  margin-top: 16px;
  margin-left: 32px;
  color: white;
}
.left-infoDetail dl::before {
  content: '';
  position: absolute;
  margin-left: -9px;
  margin-top: 8px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #6bd7ff;
}
.left-infoDetail dl > div {
  margin-bottom: 5px;
  height: 19px;
}
.left-infoDetail dl dt {
  width: 104px;
  line-height: 20px;
  color: #74bbee
}
.left-infoDetail dl dd {
  width: 218px;
  height: 20px;
  vertical-align: bottom;
  color: #feffd7;
}
.left-infoDetail dt,
.left-infoDetail dd {
  display: inline-block;
}
.right-infoDetail-wrap {
  position: absolute;
  display: none;
  margin-left: 332px;
  margin-top: -41px;
  width: 400px;
  height: 303px;

}
.right-infoDetail {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 14px;
  font-size: 14px;
  background: url(../../../images/right.png) no-repeat;
  background-clip: content-box;
}
.right-infoDetail-list > dl:last-child {
  margin-bottom: 0;
}
.right-infoDetail-closeBtn {
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 27px;
  width: 20px;
  height: 20px;
}
.right-infoDetail-title {
  position: relative;
  margin-top: 20px;
  margin-left: 30px;
  color: #fff;
}
.right-infoDetail-title::before {
  content: '';
  position: absolute;
  margin-left: -9px;
  margin-top: 8px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #6bd7ff;
}
.right-infoDetail-listWrap {
  position: relative;
  margin: 12px 12px 0;
  height: 194px;
  overflow-y: auto;
}
.right-infoDetail-list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 21px;
  padding-right: 16px;
}
.right-infoDetail-listWrap dl {
  margin-bottom: 10px;
}
.right-infoDetail-listWrap dt {
  color: #74bbee
}
.right-infoDetail-listWrap dd {
  color: #feffd7;
}

.right-navWrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 109px;
  height: 227px;
  color: red;
}
.right-navWrapper > li {
  height: 25%;
  color: #00bdff;
  cursor: pointer;
}
.right-navWrapper > li:nth-child(1) {
  text-indent: 10px;
  transform: rotate(-29deg);
  line-height: 79px;
}
.right-navWrapper > li:nth-child(2) {
  text-indent: 32px;
  transform: rotate(-9deg);
  line-height: 69px;
}
.right-navWrapper > li:nth-child(3) {
  text-indent: 33px;
  transform: rotate(6deg);
  line-height: 42px;
}
.right-navWrapper > li:nth-child(4) {
  text-indent: 12px;
  transform: rotate(25deg);
  line-height: 31px;
}
/* .nav-disable {
  opacity: 0,5;
} */
/* .equipmentInfoWapper .title {
  margin-top: 4px;
  color: #69d4fc;
  font-size: 14px;
}
.equipmentInfoWapper .title::before {
  content: '';
  display: inline-block;
  margin-right: 6px;
  margin-left: 8px;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  background: url(../../../images/node-info/rc.png) no-repeat center;
}
.rc_sum {
  margin-top: 10px;
  padding: 0 12px;
  height: 27px;
  line-height: 27px;
  font-size: 20px;
  text-align: center;
  color: #ff0000;
}
.rc_sum_number {
  display: inline-block;
} */
/* .equipmentInfoWapper .detail_btn {
  position: absolute;
  bottom: 8px;
  right: 12px;
  border-bottom: 1px solid currentColor;
  font-size: 12px;
  color: rgba(0, 185, 250, 0.96);
  letter-spacing: 2px;
} */

.rectSvgWrap {
  position: absolute;
  top: 347px;
  left: 155px;
  z-index: 1;
  width: 228px;
  height: 79px;
}
/* 关闭按钮 */
#closeBtn {
  position: absolute;
  right: 9px;
  top: 19px;
  width: 12px;
  height: 11px;
  background: url(../../../images/node-info/close.png);
  cursor: pointer;
}

/* 去掉a标签默认样式 */
a {
  text-decoration: none;
}
ul li,
li {
  list-style: none;
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}