@import '../../styles/var';

.table{
  :global{
    //.ant-table-row{
    //  &:hover{
    //    td{
    //      background: #ecf6fd;
    //    }
    //  }
    //}
    tr.ant-table-expanded-row {
      background: transparent;
      td{
        background: transparent;
      }
    }


    .ant-table-placeholder{
      background: transparent;
    }
    .ant-table-row-expand-icon{
      color:$txt-color;
    }
  }
}


.light{
  //background:white;

  :global{
    .ant-table-thead>tr>th{
      background: $bg-color-level-1;
    }
    .ant-table-row{
      td{
        border-color:rgb(200,200,200);
      }
    }
    tr.ant-table-expanded-row, tr.ant-table-expanded-row:hover {
      //color:$txt-color;
      td{
        border-color:rgb(200,200,200);
      }
    }
    .ant-table-placeholder{
      color:$txt-color;
    }
    tr.ant-table-expanded-row:hover{
      background: #ecf6fd;
    }
  }

  &.inverse-color{
    :global{
      .ant-table-thead>tr>th{
        background: $bg-color-level-3;
      }
    }
  }
}

.dark{

  :global{
    .ant-table-row{
      &:hover{
        td{
          background: rgba(0,0,0,0.5)
        }
      }
    }
    tr.ant-table-expanded-row:hover{
      background: rgba(0,0,0,0.5);
    }
    .ant-table-thead>tr>th{
      background: $bg-color-level-1-dark;
      color:white;
    }
    .ant-table-row{
      color:$txt-color-dark;
    }
    tr.ant-table-expanded-row, tr.ant-table-expanded-row:hover {
      color:$txt-color-dark;
    }
    .ant-table-placeholder{
      color:$txt-color-dark;
    }
  }
  &.inverse-color{
    :global{
      .ant-table-thead>tr>th{
        background: $bg-color-level-3-dark;
      }
    }
  }


}

.pagination-dark{
  color:$txt-color-dark;
}

.title{
  margin-bottom:10px;
}
.title-dark{
  color:white;
}

.expanded{
  cursor: pointer;
}

.table-gapped.light{
  table{
    border-spacing:0 10px;
    td{
      background: $bg-color-level-1;
      border-color:transparent;
    }
  }
}
